.settings/com.salesforce.ide.core.prefs
.project
salesforce.schema

src/objects/Contact.object
src/objects/Lead.object

src/classes/ChangePasswordController.cls*
src/classes/ForgotPasswordController.cls*
src/classes/MyProfilePageController.cls*
src/classes/SiteLoginController.cls*
src/classes/SiteRegisterController.cls*

src/pages/AnswersHome.page*
src/pages/BandwidthExceeded.page*
src/pages/ChangePassword.page*
src/pages/Exception.page*
src/pages/FileNotFound.page*
src/pages/ForgotPassword.page*
src/pages/ForgotPasswordConfirm.page*
src/pages/IdeasHome.page*
src/pages/InMaintenance.page*
src/pages/MyProfilePage.page*
src/pages/SiteLogin.page*
src/pages/SiteRegister.page*
src/pages/SiteRegisterConfirm.page*
src/pages/SiteTemplate.page*
src/pages/StdExceptionTemplate.page*
src/pages/Unauthorized.page*
src/pages/UnderConstruction.page*
